.box {
    background: white;
    padding: 1.5rem;
    border-radius: 4px;

    &:not(:first-child) {
        margin-top: 2rem;
    }

    &-title {
        margin: 0;
        @include font-size(16px);
        padding: 0 0 0.5rem 0;
        font-weight: 500;

        .fa {
            margin-right: 10px;
        }
    }
}

.widget {
    &:not(:first-child) {
        margin-top: 2rem;
    }

    &-title {
        margin: 0;
        @include font-size(16px);
        font-weight: 500;
        padding: 0 0 0.5rem 0;

        .fa {
            margin-right: 10px;
        }
    }
}

.section {
    &:not(:first-child) {
        margin-top: 2rem;
    }
}
