.faux-table {
    font-size: 0.88rem;
    line-height: 1.5em;
}

.faux-heading,
.faux-row {
    display: flex;
    align-items: center;
    border-left: 0.25rem solid transparent;

    > * {
        flex: 1;
        padding: 0 1rem;
    }
}

.faux-row {
    background: white;
    margin-top: 1rem;
    border-color: #15a4fa;
    font-weight: 300;

    > * {
        padding: 0.75rem 1rem;
    }

    .title {
        font-size: 1rem;
        font-weight: 400;
    }
}
