html,
button,
input,
select,
textarea {
	color: $default-text-color;
}

body {
	font-size: 1em;
	line-height: 1.4;
	background: $ui-body-background;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

strong {
    font-weight: bold;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;

	&.alignright {
		float: right;
		margin-left: 15px;
	}

	&.alignleft {
		float: left;
		margin-right: 15px;
	}

    &.aligncenter {
        display: block;
        margin: 0 auto;
    }
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

nav {
	ul {
		@include ulreset;
	}
}

input[type="search"],
*,
*:before,
*:after {
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}
