.container {
    padding: 3rem;
    max-width: $max-container;
    margin: 0 auto;
}

.heading {
    margin: 1rem 0;

    h3 {
        margin: 0;
    }

    p {
        margin: 0.5rem 0 0 0;
    }
}

.slider-hidden {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    overflow: hidden !important;
}
