.table {
    width: 100%;
    border-spacing: 0;
    border-radius: 0.25rem;
    overflow: hidden;
    background: white;

    &.striped {
        tr:nth-child(odd) {
            td {
                background: whitesmoke;
            }
        }
    }

    &.divider {
        tr:not(:first-child) {
            td {
                border-top: 1px solid lightgrey;
            }
        }
    }

    th {
        background: #6f7d95;
        color: white;
        text-align: left;
        text-transform: uppercase;
        font-weight: 500;
        padding: 1rem 0.5rem;
    }

    td {
        padding: 1rem 0.5rem;
        @include font-size(15px);
    }

    .mass-action {
        width: 50px;
        text-align: center;
    }

    .status {
        width: 50px;
        text-align: center;
    }

    .label {
        a {
            font-weight: 500;
        }
    }

    .updated {
        width: 20%;
    }

    .action {
        text-align: right;
        width: 9%;
        @include font-size(17px);

        a {
            display: inline-block;
            padding: 0 0.25rem;
        }
    }

    @for $i from 1 through 5 {
        .indent-level-#{$i} {
            .label {
                padding-left: 22px * $i + 8px;
            }
        }
    }
}
