button {
    font-family: inherit;
}

.btn {
	display: inline-block;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    background: #47bac1;
    color: white;
    @include font-size(16px);
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    line-height: 1em;

    &:hover {
        background: darken(#47bac1, 15%);
    }

    /**
     * Colour Options
     */
    &.muted {
        background: #7c8ba6;

        &:hover {
            background: darken(#7c8ba6, 15%);
        }
    }

    &.outline {
        border: 1px solid darken(#e6ecf0, 15%);
        background: none;
        color: $ui-font-primary;

        &:hover {
            background: #e6ecf0;
        }
    }

    &.danger {
        background: #d72121;
        color: white;

        &:hover {
            background: darken(#d72121, 15%);
        }
    }

    /**
     * Size Options
     */
    &.full {
        display: block;
        width: 100%;
        padding: 1rem 1.5rem;

        + .btn.full {
            margin-top: 0.5rem;
        }
    }

    &.small {
        padding: 0.5rem 1rem;
        @include font-size(12px);
    }

    &.large {
        padding: 1rem 1.5rem;
        @include font-size(18px);
    }

    .fa {
        margin-right: 0.5em;
    }
}

.btn-pill {
    background: white;
    border: 2px solid #d2dae2;
    color: $ui-font-secondary;
    @include font-size(16px);
    line-height: 1em;
    padding: 10px 16px;
    border-radius: 40px;
    display: inline-block;

    &:hover {
        background: #8a95a5;
        border-color: #8a95a5;
        color: white;
    }

    .fa {
        margin-right: 8px;
    }
}

.btn-icon {
    @include circle(40px);
    background: white;
    border: 2px solid #d2dae2;
    color: $ui-font-secondary;
    @include font-size(16px);
    line-height: 1em;
    display: inline-block;
    position: relative;

    &:before {
        @include centered;
    }
}
