.confirmation {
    text-align: center;
    @include font-size(15px);
    display: none;
    padding: 10px 16px;
    max-width: 350px;

    p {
        margin: 0;
        line-height: 1.2em;
    }

    .btn {
        margin: 0.5em 0.2em 0;
    }
}