.dialog {
    display: none;
    @include pos($type: fixed);
    @include box(100%);
    background: fade-out(#354052, 0.3);
    z-index: 9999;

    &-body {
        @include pos(50%, 50%);
        width: 800px;
        background: white;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 15px 0 fade-out(black, 0.5);
        padding: 18px 20px;
        border-radius: 6px;
        max-height: 80%;
        overflow: auto;

        &.sm {
            width: 600px;
        }

        &.lg {
            width: 1000px;
        }
    }

    &-close {
        @include pos($right: 5px, $top: 5px);
        background: none;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        @include font-size(20px);
        outline: none;
    }

    &-header {
        padding-bottom: 20px;
    }

    &-title {
        margin: 0;
        @include font-size(20px);
        text-transform: uppercase;
    }

    &-footer {
        width: 100%;
        text-align: right;
        padding-top: 20px;
    }
}
