input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="file"],
input[type="search"],
textarea,
select {
	@include placeholder() {
        color: $ui-form-font;
    }

	font-family: inherit;
    background: $ui-form-background;
    border: 1px solid $ui-form-border;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    @include font-size(15px);
    display: block;
}

textarea {
	resize: none;
    height: 150px;
}

.form-field {
    + .form-field {
        margin-top: 1.5rem;
    }

    &.horizontal {
        display: flex;
        align-items: center;

        label {
            padding: 0 1rem 0 0;
        }

        input,
        textarea,
        select {
            margin-right: 0.75rem;
        }
    }

    &:not(.horizontal) {
        input,
        textarea,
        select {
            width: 100%;
        }
    }

    .label {
        padding: 0 0 0.5rem 0;
        line-height: 1em;

        label {
            margin-bottom: 0;
        }
    }

    label {
        display: block;
        font-weight: 500;
        margin-bottom: 0.5rem;

        .fa {
            margin-right: 10px;
        }

        .required {
            color: #c14e47;
        }
    }

    .help {
        font-size: 0.8em;
        margin: 0.25rem 0.75rem 0 0.5rem;
        font-style: italic;
        text-align: right;
    }

    .instruction {
        @include font-size(14px);
        margin: 0.5rem 0 0 0;
    }
}

.form-checkbox {
    &.standalone {
        label {
            padding-left: 18px;
        }
    }

    input {
        display: none;
    }

    input + label {
        &:before {
            content: "";
            @include pos();
            @include box(18px);
            border-radius: 3px;
            background: #6f7d95;
            font-family: $font-family-icons;
            color: white;
            @include font-size(13px);
            padding: 1px 0 0 3px;
            text-align: left;
        }
    }

    input:checked + label {
        &:before {
            content: "\f00c";
        }
    }

    label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
    }
}

.form-group {
    display: flex;

    input,
    button {
        &:first-child {
            border-radius: 0.375rem 0 0 0.375rem;
        }

        &:last-child {
            border-radius: 0 0.375rem 0.375rem 0;
        }
    }
}
