$gutter-size : 20px;

.row {
    display: flex;
    margin: 0 -1.5rem;

    .content {
        flex: 9;
        padding: 0 1.5rem;
    }

    .sidebar {
        flex: 3;
        padding: 0 1.5rem;
    }

    .full {
        flex: 1;
    }

    .centered {
        text-align: center;
    }

    @for $i from 1 through 12 {
        .w#{$i} {
            flex: $i;
            padding: 0 1.5rem;
        }
    }
}
