.alert-errors,
.alert-success {
    color: white;
    padding: 1rem 0;
    @include font-size(15px);

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    ul {
        @include ulreset;
    }
}

.alert-errors {
    background: #c14e47;
}

.alert-success {
    background: #00a989;
}
