.tab-wrapper {
    background: $ui-tab-heading-bg;
}

.tab-headings {
    @include ulreset;
    padding: 0 3rem;
    display: flex;
    max-width: $max-container;
    margin: 0 auto;

    .tab {
        padding: 0 0 16px 0;
        margin: 0 25px 0 25px;
        text-transform: uppercase;
        font-weight: 500;
        @include font-size(15px);
        border-bottom: 3px solid transparent;
        line-height: 1em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active {
            border-bottom-color: $ui-tab-active-border;

            a {
                color: $ui-tab-active-text;
            }
        }

        a {
            color: $ui-tab-heading-text;

            &:hover {
                color: $ui-tab-active-text;
            }
        }
    }
}

.tab-body {
    padding: 3rem;
    display: none;
    max-width: $max-container;
    margin: 0 auto;

    &.active {
        display: block;
    }
}

.tab-panel {
    display: none;

    &.active {
        display: block;
    }
}
