.upload-box {
    border: 2px dashed fade-out(#7c8ba6, 0.5);
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 12rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;

    &.has-toolbar {
        margin-bottom: 2rem;

        + .status-bar {
            margin-top: -1.75rem;
        }
    }

    .how-to {
        font-style: italic;
        color: #8a95a5;
        margin: 0;
        padding: 100px 0;
        flex: 1;
        text-align: center;
    }

    .asset {
        background: #e6e6e6;
        @include box(165px);
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        margin: 0.5rem;

        &.uploading {
            &:before {
                content: "";
                @include cover();
                background: fade-out(black, 0.3);
            }

            .preview {
                opacity: 0.5;
                color: white;
            }
        }

        &.selected,
        &.removing,
        &.error {
            position: relative;

            &:before {
                content: $fa-var-check;
                font-family: $font-family-icons;
                @include centered;
                z-index: 10;
                color: white;
                @include font-size(32px);
                @include circle(50px);
                text-align: center;
                line-height: 50px;
                box-shadow: 0 0 6px 0 fade-out(black, 0.5);
            }

            .preview {
                opacity: 0.8;
                box-shadow: inset 0 0 10px 0 fade-out(black, 0.5);
            }
        }

        &.selected {
            &:before {
                background: #00a989;
                content: $fa-var-check;
            }
        }

        &.removing {
            &:before {
                background: #c14e47;
                content: $fa-var-circle-o-notch;
                animation: center-spin 2s infinite linear;
            }
        }

        &.error {
            &:before {
                background: #c14e47;
                content: $fa-var-close;
            }
        }

        &.type-archive .preview:before {
            content: $fa-var-file-archive-o;
        }

        &.type-audio .preview:before {
            content: $fa-var-file-audio-o;
        }

        &.type-excel .preview:before {
            content: $fa-var-file-excel-o;
        }

        &.type-pdf .preview:before {
            content: $fa-var-file-pdf-o;
        }

        &.type-video .preview:before {
            content: $fa-var-file-video-o;
        }

        &.type-text .preview:before {
            content: $fa-var-file-text-o;
        }

        &.type-powerpoint .preview:before {
            content: $fa-var-file-powerpoint-o;
        }

        &.type-word .preview:before {
            content: $fa-var-file-word-o;
        }

        &.type-file .preview:before {
            content: $fa-var-file-o;
        }

        .preview {
            @include box(100%);
            background-size: cover;
            background-position: center center;
            position: relative;
            z-index: 5;

            &:before {
                font-family: $font-family-icons;
                @include centered();
                @include font-size(80px);
            }
        }
    }

    .progress {
        width: calc(100% - 30px);
        height: 15px;
        border-radius: 40px;
        background: white;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        overflow: hidden;
        z-index: 15;

        .bar {
            background: #00a989;
            height: 100%;
        }
    }

    .toolbar {
        @include pos($bottom: -30px, $right: 0);
        z-index: 5;
        background: #e6ecf0;
        border-radius: 0 0 0.25rem 0.25rem;
        overflow: hidden;

        .action {
            padding: 0.5rem 0.75rem;
            border-radius: 0;
            @include font-size(14px);

            &:not(:first-child) {
                margin-left: 1px;
            }
        }
    }
}

@-webkit-keyframes center-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

@keyframes center-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
