.content-builder {
    .instructions {
        margin: 0;
        font-style: italic;
        color: $ui-font-secondary;
        text-align: center;
        padding: 2rem 0;

        strong {
            font-weight: 500;
        }
    }

    .drop-target {
        border: 0.125rem dashed $ui-form-border;
        padding: 1.5rem;
        border-radius: 0.25rem;

        .field-option {
            &:not(:first-child) {
                margin-top: 1rem;
            }

            &.closed {
                .field-title {
                    border-radius: 0.25rem;
                }
            }

            .field-title {
                border-radius: 0.25rem 0.25rem 0 0;
            }

            .field-body {
                display: block;
            }
        }
    }
}

.field-option {
    @include font-size(15px);
    position: relative;

    &:not(:first-child) {
        margin-top: 0.5rem;
    }

    .remove-field {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        color: white;
        @include font-size(20px);

        &:before {
            content: "\f00d";
            display: block;
            font-family: $font-family-icons;
        }
    }

    .field-title {
        display: block;
        background: #6f7e95;
        color: white;
        padding: 0.75rem 1rem;
        border-radius: 0.25rem;

        &:hover {
            background: darken(#6f7e95, 15%);
        }

        .fa {
            width: 20px;
            text-align: center;
            margin-right: 0.5rem;
        }
    }

    .field-body {
        @include clearfix();
        display: none;
        padding: 1rem;
        border: 1px solid #6f7e95;
        border-radius: 0 0 0.25rem 0.25rem;

        textarea {
            height: 5rem;
        }
    }

    .additional-actions {
        margin-top: 1rem;
    }

    .restrictions {
        input[type="number"] {
            width: 5rem;
        }

        input[type="text"] {
            width: 10rem;
        }

        input,
        select {
            padding: 0.5rem 0.75rem;
            height: 2.5rem;
        }

        label:not(:first-child) {
            padding-left: 1rem;
        }
    }
}

.upload-box {
    .asset {
        margin: 0.34rem;
    }
}
