.footer {
    padding: $block_padding;
    text-align: center;
    background: #efefef;

	.menu {
		@include clear-fix();
        text-align: center;
        padding-bottom: 15px;
        @include font-size(14px);
	}

	li {
		display: inline-block;
        padding: 0 9px 0 12px;

        &:not(:first-child) {
            position: relative;

            &::before {
                position: absolute;
                top: 4px;
                left: -4px;
                content: "\f111";
                font-family: $font-family--icons;
                display: inline-block;
                color: black;
                @include font-size(8px);
            }
        }
	}

    .social {
        padding-bottom: 15px;

        a {
            display: inline-block;
            @include box(32px);
            border-radius: 100%;
            background: white;
            line-height: 32px;
            margin: 0 1px;
            @include font-size(18px);

            &:hover {
                background: black;
                color: white;
            }
        }
    }

    .address {
        @include font-size(14px);

        a {
            font-weight: bold;
        }

        p {
            margin: 10px 0;
        }
    }
}
