.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    background: $ui-header-background;
    display: flex;
    align-items: center;

    a {
        color: $ui-nav-secondary;

        &:hover {
            color: $ui-nav-primary;
        }
    }

    .logo {
        display: block;
        width: 15rem;
        text-align: center;
        text-transform: uppercase;
        @include font-size(20px);
        letter-spacing: 3px;
        color: $ui-nav-primary;
    }

    .container {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .breadcrumbs {
        flex: 1;
        color: $ui-nav-secondary;

        ul {
            @include ulreset;
            display: flex;
        }

        li:not(:first-child) {
            padding-left: 20px;
            margin-left: 12px;
            position: relative;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: "\f054";
                font-family: $font-family-icons;
            }
        }
    }

    .nav-secondary {
        flex: 1;

        .menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .notifications {
            > a {
                padding: 0 25px;
                display: block;
            }
        }

        .profile {
            position: relative;

            > a {
                display: flex;
                align-items: center;
                padding-right: 20px;
                height: 4rem;

                &:after {
                    content: "\f107";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: $font-family-icons;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    &:after {
                        color: $ui-nav-primary;
                    }
                }
            }

            img {
                border-radius: 100%;
                margin-right: 10px;
            }
        }

        .sub-menu {
            position: absolute;
            top: 100%;
            right: -0.25rem;
            width: 200px;
            background: #292b39;
            padding: 1rem 1.25rem;
            box-shadow: 1px 1px 3px 0 fade-out(#292b39, 0.5);
            @include font-size(15px);
            border-radius: 0 0 0.25rem 0.25rem;

            li:not(:first-child) {
                margin-top: 0.5rem;
            }

            .fa {
                margin-right: 0.5rem;
            }
        }
    }

    #search-form {
        background: $ui-form-background;
        border: 1px solid #505464;
        position: relative;
        display: flex;
        align-items: stretch;
        border-radius: 0.25rem;
        overflow: hidden;
        @include font-size(13px);

        &:before {
            content: "\f002";
            font-family: $font-family-icons;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;
            color: $ui-form-font;
        }

        .context {
            padding: 11px 14px 0 14px;
            background: $ui-form-background;
            border-right: 1px solid #505464;
            background: #292b39;
            color: $ui-form-font;
            line-height: 1em;
        }

        input {
            padding: 10px 40px 9px 14px;
            border: none;
            border-radius: 0;
            background: #292b39;
            color: white;
        }
    }
}
