.nav-primary {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100%;
    background: $ui-menu-background;
    padding-top: 4rem;
    font-weight: 300;
    z-index: 999;
    color: $ui-nav-secondary;

    .menu {
        padding-top: 1rem;
    }

    .menu-item {
        &.active > a {
            border-left: 0.25rem solid $ui-nav-active-border;
            background: lighten($ui-menu-background, 8%);
            color: $ui-nav-primary;
        }

        &.is-dropdown > a {
            position: relative;

            &.opened:after {
                transform: translateY(-50%) rotate(90deg);
            }

            &:after {
                font-family: $font-family-icons;
                content: $fa-var-caret-right;
                position: absolute;
                right: 1.25rem;
                top: 50%;
                font-size: 1.25rem;
                transform: translateY(-50%);
                transition: all 0.2s ease-in-out;
                color: $ui-nav-secondary;
            }
        }

        a {
            display: flex;
            padding: 1rem;
            align-items: center;
            border-left: 0.25rem solid transparent;

            &:hover {
                background: darken($ui-menu-background, 5%);
                color: $ui-nav-primary;
            }
        }

        .fa {
            width: 2rem;
            @include font-size(18px);
            text-align: center;
            margin-right: 0.5rem;
        }
    }

    .sub-menu {
        font-size: 0.85rem;
        background: darken($ui-menu-background, 8%);
        padding: 0.5rem 0;

        .menu-item a {
            padding: 0.5rem 1rem 0.5rem 1.5rem;

            &:hover {
                background: none;
            }
        }
    }

    .app-version {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        @include font-size(13px);
        padding: 0 0 0.5rem 0;
    }
}
