.project-header {
    background: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        font-weight: 400;
        margin: 0;
    }

    .details {
        @include ulreset;
        display: flex;
        color: $ui-font-secondary;
        margin-top: 12px;
        @include font-size(16px);
        font-weight: 300;

        strong {
            font-weight: 500;
        }

        li {
            margin-right: 25px;

            &.archived {
                .fa {
                    @include font-size(16px);
                    margin-right: 5px;
                }
            }
        }
    }
}
