.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 1000;
    background: $ui-header-background;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .logo {
        display: block;
        text-transform: uppercase;
        @include font-size(20px);
        letter-spacing: 3px;
        color: $ui-nav-primary;
    }
}

.main-content {
    padding-top: 4rem;
}

.project-title {
    background: white;
    padding: 2rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        margin: 0;
        font-weight: 400;
    }
}

.project-body {
    padding: 2rem 0;
}

.legend {
    @include ulreset();
    display: flex;
    margin-top: 1rem;
    @include font-size(14px);

    li {
        margin-right: 1rem;
    }

    .status-icon {
        margin-right: 0.5rem;
    }
}
